/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;   /* The z-index CSS property sets the z-order of a positioned element and its descendants or flex and grid items. Overlapping elements with a larger z-index cover those with a smaller one. */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.6rem;
  margin-right: 1rem;
  border-radius:36px;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  margin-left: 2rem;
}

.nav-item1{
  margin-left: 1rem;
  margin-right: 2rem;
}

.nav-button {
  background-color: #080d08;
  border: none;
  border-radius: 25px;
  color: #fff;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;    /*The cursor is a pointer that indicates a link. Typically an image of a pointing hand.*/
  margin: 0.5px;
  font-size: 18px;
}

.nav-button:hover {
  background-color: #45a049;
}



/* code for background-image */
.background-image {
  background-image: url('images/about/pngtree-blue-grunge-textured-background-for-discounts-on-diwali-image_14003907.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Adjust text color based on your background image */
  padding-top: 60px; /* Adjust based on navbar height to ensure content is visible */
}

h1 {
  margin: 0.5em 0; /* Adjust spacing as needed */
  font-size: 4.0em; /* Adjust font size as needed */
}

p {
  max-width: 60%; /* Adjust width as needed for your design */
  margin: 0.5em 0; /* Adjust spacing as needed */
  font-size: 1.1em;
}


/* code for divs */
.container {
    display: flex; /* Use flexbox to create a row */
    flex-direction: row; /* Arrange children in a row */
    justify-content: space-between; /* Space out children equally */
    align-items: flex-start; /* Align items to the start of the flex container */
    padding: 20px; /* Add some padding around */
}

.text-block {
    flex: 1; /* Allow each text block to take up equal space */
    padding: 40px; /* Add some padding inside each text block */
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
}

/* Optional: Add some additional styling for visual separation */
.text-block:not(:last-child) {
    margin-right: 20px; /* Add margin to the right of each text block except the last one */
}

.text-block h2{
  font-size: 3rem;
}
.text-block pre{
  font-size: 1.2rem;
}


/* code for cards */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
} */

.contain {
  background-color: #f0f0f0;
  padding: 2rem;
  height: 630px;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex-basis: 22%; /* Adjust card width */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Card shadow for depth */
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
  background: #fff; /* Card background */
  position: relative;
}

.card img {
  width: 100%; /* Responsive image */
  height: auto;
  border-radius: 10px 10px 0 0; /* Rounded corners at the top */
}

.card-title {
  margin-bottom: 1rem;
  text-align: center;
}

.card-text {
  margin-bottom: 1rem;
  text-align: center;
}

.card-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 25px;
  color: #fff;
  padding: 0.5rem 0.5rem;
  margin: 5px;
  text-transform: uppercase;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateX(-50%);
}


.card-button:hover {
  background-color: #45a049;
}


/* code for parallex effect */
body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.parallax {
  /* The image used */
  background-image: url('images/about/office.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  background-color: rgba(255, 255, 255, 0.722);
  text-align: center;
  padding: 50px 80px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.column {
  flex: 1;
  margin: 0 15px;
  padding: 10px;
  font-size: 600;
}

/* code for fashion Revolution */
  .bg-image {
    position: relative;
    width: 100%;
    height: 800px; /* Adjust as needed */
    background-image: url('images/about/bg-image.jpg'); /* Replace with your image URL */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .explore {
    background-color: white;
    width: 70%; /* Slightly less than the parent div */
    height: 70%; /* Slightly less than the parent div */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
  }
  .explore h1,p{
    text-align: center;
  }

  button {
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 25px;
  }


/* code for fashion partners */

.partner{
    padding: 20px;
    box-sizing: border-box;
}
.heading {
    text-align: center;
    margin: 20px 0;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .card-partner {
    width: 160px; /* Small width */
    height: 100px; /* Small height */
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .card-partner img {
    width: 180px; /* Adjust based on your needs */
    height: 120px;
  }

  /* .card-title {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  } */


/* code for mail & subscribe button */
.subscribe-section {
    background-color: rgb(240, 112, 182);
    padding: 50px 0;
    text-align: center;
  }

  .subscribe-section h1{
    color: #fff;
  }

  .subscribe-form {
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .email-input {
    padding: 10px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-right: none; /* Remove the right border to make it blend with the button */
    outline: none;
    margin: 20px;
    border-radius: 20px;
  }

  .subscribe-button {
    padding: 12px 20px;
    font-size: 20px;
    border: 2px solid #ccc;
    background-color:rgb(6, 6, 6); /* Adjust the button color as needed */
    color: #fff;
    cursor: pointer;
    outline: none;
  }


/* code for team members */
.team-section, .social-media-section {
    text-align: center;
    padding: 20px;
  }

  .team-card {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  

  .team-card img {
    width: 180px; /* Adjust size as needed */
    height: 180px; /* Adjust size as needed */
    /* border-radius: 50%; */
    margin-bottom: 10px;
  }

  .social-media-icons {
    margin-top: 20px;
  }

  .social-media-icons img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    margin: 5px;
    cursor: pointer;
  }


/* code for map */
.map-background {
    width: 100%;
    height: 100%;
    background-image: url('images/about/Screenshot (641).png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    /* animation: zoomInOut 20s infinite alternate; Adjust time as needed */
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(1);
      background-size: 100%;
    }
    100% {
      transform: scale(1.2);
      background-size: 120%;
    }
  }


/* code for last section */
 .footer-nav, .sm-icons, .copyright {
    text-align: center;
    padding: 10px;
  } 

   .footer-nav a {
    margin: 0 10px;
    text-decoration: none;
    color:#fff;
    font-size: 30px;
  } 

  .footer{
    background-color: #000;
  }
  .copyright{
    color: #fff;
  }
  /* .sm-icons img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
  } */
